.sdlc-container.position-relative
  .sdlc-description
    %a.title-link{ href: "/concurrent-devops" }
      %h2 200% Faster DevOps Lifecycle
    %p From project planning and source code management to CI/CD and monitoring, GitLab is a single application for the complete DevOps lifecycle.
  %img.sdlc-image{ src: "/images/home/sdl-single-application.png" }
  .table-container
    %p.table-label.single-application-label GitLab is a single application for the complete DevOps lifecycle.
    %p.table-label.separate-application-label GitLab replaces

    %table.sdlc-table
      %tr
        - data.stages.stages.each do |key, phase|
          %td.phase-container
            %a{href: "/stages-devops-lifecycle/#{key}/"}
              = partial "/includes/icons/sdlc-icons/#{key}.svg"
            %a{href: "/stages-devops-lifecycle/#{key}/"}
              %p #{phase.display_name}

      %tr.single-application-row
        - data.sdlc.each do |phase|
          %td.solutions-container
            %img.gitlab-logo{ src: "/images/comparison/gitlab-logo.svg" }
            - phase.solutions.each do |solution|
              %p #{solution}
            .year-established.text-center
              %p
                Est.
                = phase.established.year
              %a{ href: "#{phase.established.link}", target: "_blank" }
                Roadmap

      %tr.separate-application-row
        - data.sdlc.each do |phase|
          %td.competitors-container{ id: "#{phase.phase.downcase}-competitors-container" }
            - phase.competitors.each do |competitor|
              %a.competitor-logo-container{ href: "#{competitor.link}", target: "_blank" }
                %img.competitor-logo{ src: "#{competitor.logo}", alt: "#{competitor.name} logo png" }

  .btn-group.margin-top20
    %a.btn.cta-btn.accent{ href: '/comparison/' } See comparisons

%script{ src: "/javascripts/rotate-competitors.js" }
%script{ src: "/javascripts/libs/tweenmax.min.js" }
