---
title: Product
suppress_header: true
extra_css:
  - product.css
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %img.hero-image-small{ src: "/images/comparison/gitlab-logo.svg" }
    %h1 Product
    %p
      GitLab is the first single application for all stages of the DevOps lifecycle. Only GitLab enables
      %a{ href: "/concurrent-devops/", target: "_blank" }Concurrent DevOps
      , unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance. This makes the software lifecycle 3 times faster, radically improving the speed of business.

.category-links
  - data.categories.each do |key, category|
    %a{ href: "/product/#{key.gsub('_', '-').downcase}" }
      = category.name

= partial "includes/home/customer-logos-transparent"

.gitlab-content-container.padding-top20
  .content
    - data.stages.stages.each do |key, stage|
      .stage-name-container
        -# = partial "/includes/icons/sdlc-icons/#{stage.display_name.downcase}.svg"
        %h4.stage-name
          = stage.display_name
      .grid-layout.grid-layout2.margin-top40
        - data.categories.each do |key, category|
          - if stage.display_name.downcase === category.stage
            .grid-item.flex-container.flex-column.flex-start
              %a.category-title.flex-container.align-center.full-width{ href: "/product/#{key.gsub('_', '-').downcase}" }
                %img.category-logo{ src: "/images/comparison/gitlab-logo.svg", alt: "GitLab logo svg" }
                %h3.margin0{ id: "#{key.gsub('_', '-').downcase}" }
                  = category.name
              - if category.description? || category.description != ""
                %p.margin-top20
                  = category.description
              %a.learn-more.flex-container.align-center{ href: "/product/#{key.gsub('_', '-').downcase}" }
                %p
                  Learn More →

.gitlab-cta-container.text-center
  .container
    %h2.color-primary
      Choose the version of GitLab that is best for you
    %p
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.accent.margin-top20{href: "/pricing"}
      Explore our plans
