---
title: Implementation Services
suppress_header: true
description: "Enterprise-ready, scalable GitLab installation designed by experts."
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Implementation Services
    %h3.headline-subtitle
      Enterprise-ready, scalable GitLab installation designed by experts

.services-inner
  .page-container.container
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 Decrease time-to-value with implementation services
        %p.service-para
          The GitLab Professional Service team has years of experience deploying, scaling and securing GitLab installations for customers

        %h3 GitLab Implementation Services
        %p.service-para
          Your team chose GitLab to speed up your DevOps lifecycle and as the single application for the complete DevOps lifecycle.  Now the challenge is to get to that desired accelerated lifecycle as fast as possible.  Though thousands have deployed our open source tooling throughout the world, we also have a team of professionals here to provide you resources to ensure your GitLab instance will scale with your team.
        %p.service-para
          There are two different ways to get started with Implementation Services from GitLab.

        .row
          .col-md-6
            .panel.panel-gitlab-purple
              .panel-heading
                %h3.panel-title Quick Start Implementation Package
              .panel-body
                %p.overview
                  The quick start package is designed for groups who just need help setting up and getting started with GitLab.  Included is a fixed set of time with our implementation team who will advise your group on the correct architecture and planning for scale with your GitLab instance.
                %a.btn.cta-btn.purple.center{ href: "/services/implementation/quickstart" } Learn More
          .col-md-6
            .panel.panel-gitlab-purple
              .panel-heading
                %h3.panel-title Dedicated Implementation Planning
              .panel-body
                %p.overview
                  For customers who need to plan for on-going scaling of their GitLab instance, high availability and disaster recovery for large-scale deployments of thousands of users we recommend more implementation focus from our team of Implementation Engineers.
                %a.btn.cta-btn.purple.center{ href: "/services/implementation/enterprise" } Learn More

.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
