%ol.list
  - data.engineering_areas.select{|i| i.dev_ops == dev_ops}.each do |a|
    %li
      %b.pm= "#{a.name} - PM: #{a.pm} PMM: #{a.pmm}"
      %ul
        - if a.categories
          - a.categories&.each do |c|
            %li.category= c.name
            %ul
              - c.features&.each do |f|
                %li.feature= f
        - if a.internal_customers
          %li.category= "Internal Customer".pluralize(a.internal_customers.count)+ ": " + a.internal_customers.join(", ")
