---
title: Decidicated Implementation Services
suppress_header: true
description: "Enterprise-ready, scalable GitLab installation designed by experts."
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Quick Start Implementation Package
    %h3.headline-subtitle
      Enterprise-ready, scalable GitLab installation designed by experts

.services-inner
  .page-container.container
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Summary
        %p.service-para
          The quick start package is designed for groups who just need help setting up and getting started with GitLab.  Included is a fixed set of time with our implementation team who will advise your group on the correct architecture and planning for scale with your GitLab instance.

        %h2 Who is this service for?
        %p.service-para
          This offering is great for those planning on implementing GitLab mostly "out of the box" and who want to get started immediately reaping the benefits of the only single application for the entire DevOps lifecycle.

        %h1 What's included?
        %p.service-para
          The quick start package includes 1 week of Implementation Engineer time dedicated to working with your team to architect and advise on best practices for implementing GitLab.  Though the topics customers will want to cover may vary, we will ensure that we include the following discussions: 
        %ul
          %li Installation of GitLab
          %li Backup design implementation
          %li Upgrade / maintenance planning and execution
          %li High Availability / GEO architecting and setup

.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
