%ul
  %li{class: ("menu-item-active" if current_page.url == "/product/")}
    %a.main-nav-link{href: "/why/"} Why GitLab?
    .dropdown
      %a{href: "/product/"} Product
      %a{href: "/direction/"} Direction
      %a{href: "/solutions/"} Solutions
      %a{href: "/services/"} Services
      %a{href: "/comparison/"} Compare
      %a{href: "/get-started/"} Get started
  %li
    %a.main-nav-link{href: "/resources/"} Resources
    .dropdown
      %a{href: "/blog/"} Blog
      %a{href: "/events/"} Events
      %a{href: "https://docs.gitlab.com/"} Docs
      %a{href: "/training/"} Training
      %a{href: "/installation/"} Install
  %li{class: ("menu-item-active" if current_page.url == "/community/")}
    %a.main-nav-link{href: "/community/"} Community
    .dropdown
      %a{href: "/customers/"} Customers
      %a{href: "/contributing/"} Contribute
      %a{href: "/partners/"} Partners
      %a{href: "https://gitlab.com/explore"} Explore repositories
  %li{class: ("menu-item-active" if current_page.url == "/pricing/")}
    %a.main-nav-link{href: "/pricing/"} Pricing
    .dropdown
      %a{href: "/free-trial"} Free trial
      %a{href: "/pricing/#self-managed"} Self-managed
      %a{href: "/pricing/#gitlab-com"} GitLab.com
  %li{class: ("menu-item-active" if current_page.url == "/contact/")}
    %a.main-nav-link{href: "/contact/"} Contact
    .dropdown
      %a{href: "/sales/"} Contact Sales
      %a{href: "/getting-help/"} Get help
  %li
    %button.search-icon.js-search-toggle{ type: "button", "aria-label" => "Search" }
      %i.fa.fa-search
  .sign-up-container
    %li.nosubmenu
      %a.main-nav-link.sign-up{href: "https://gitlab.com/users/sign_in"}
        Sign in
    %li.nosubmenu
      %a.main-nav-link.sign-up{href: "https://gitlab.com/users/sign_in#register-pane"}
        Register
